.layout--sidebar {
  --header-size: 10rem;
  grid-template: 'logo       header' var(--header-size)
                 'navigation content'
                / min-content auto;

  .layout {
    &__navigation {
      width: 10rem;

      display: flex;
      flex-direction: column;
      padding: 1em 0;
    }

    &__navigation-item {
      width: 100%;
    }
  }
}
