<div class="page-card">
  <p class="page-card__publication-date"><%= icon_tag 'clock' %> DD/MM/YY</p>

  <img class="page-card__picture" src="<%= image_path 'comic-example.png' %>" />

  <%= icon_tag 'align-justify', :regular, class: "page-card__description-indicator" %>
  <p class="page-card__description">Lorem ipsum dolor sit amet</p>
  <%= icon_tag 'check', :solid, class: "page-card__selector" %>
</div>
