.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #cccc;

  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--dark-text-color);

  &__body {
    background-color: var(--light-background-color);

    width: 80vw;
    height: 75vh;

    display: grid;
    grid-template: 'title   title   close-symbol' min-content
                   'content content content' auto
                   / auto   auto    min-content;

    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    grid-gap: 1.5rem;

    align-items: center;
  }

  &__title {
    grid-area: title;
    font-size: 1.2rem;

     // We're handling positioning ourselves here, thank you.
     //IDEA: Do this globally in a reset css file ?
     & > h1, & > h2, & > h3, & > h4 {
       margin: 0;
     }
  }

  &__content {
    grid-area: content;
    align-self: flex-start;

    height: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

  &__close-symbol {
    grid-area: close-symbol;

    cursor: pointer;

    font-size: 3rem;
    line-height: 1;
  }

  &__close-text {
    grid-area: close-text;
    display: none;
  }

  &__open {
    display: none;
  }
}
