<% content ||= "" %>
<% hard_close ||= true %>

<div class="modal" data-controller="modal">
  <div class="modal__body">
    <div class="modal__title"><%= header %></div>
    <div class="modal__content"><%= raw(content) %></div>

    <a class="modal__open"
       data-action="click->modal#open"
       data-target="event-forwarder.destination"
       data-event-forwarder-id="modalOpen">Open</a>
    <% close_method = hard_close ? "hardClose" : "softClose" %>
    <a class="modal__close-text"
       data-action="click->modal#<%= close_method %>">Close</a>
    <%= icon_tag 'times-circle',
                 :regular,
                 class: "modal__close-symbol",
                 'data-action': "click->modal##{close_method}" %>
  </div>
</div>
